{% extends 'base.html.twig' %}

{% block title %}Gallerien{% endblock %}

{% block nav_1 %}{% endblock %}

{% block album %}

	<div class="grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-x-6 gap-y-12 w-full mt-6">

		{% for album_1, albums_1 in items %}
			{% for album_2, albums_2 in albums_1 %}
				{% if loop.index == 1 %}
					<div class="card w-96 bg-base-100 shadow-xl">
						<figure class="px-10 pt-10">
							<img src="{{ asset('images/gallery') }}/{{ album_1 }}/{{ album_2 }}" alt="{{ album_1 }}" alt="{{ album_1 }}" "height: 200px" class="rounded-2xl" />
						</figure>
						<div class="card-body items-center text-center">
							<a href="{{ path ('gallery.album',{id: album_1}) }}" class="text-2xl text-medium"><h2 class="card-title">{{ album_1 }}</h2></a>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		{% endfor %}

	</div>
	
{% endblock %}