{% extends 'base.html.twig' %}

{% block title %}Home - {{ child }}{% endblock %}

{% block nav_2 %} - ({{ child }}){% endblock %}

{% block images %}

  <div class="gallery-container grid 2xl:grid-cols-5 xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-x-6 gap-y-12 w-full mt-6" id="gallery-container">
		{% for album_1, albums_1 in items %}
			{% for album_2, albums_2 in albums_1 %}

          <a data-lg-size="2500-2504" class="gallery-item" data-src="{{ asset('images/gallery') }}/{{ album_1 }}/{{ album_2 }}" data-sub-html="<h4>Photo by - <a href='https://unsplash.com/@katherine_xx11' >Katherine Gu </a></h4><p> For all those years we were alone and helpless.</p>">
          <img class="img-fluid block h-56 rounded-lg object-cover object-center shadow-lg" src="{{ asset('images/gallery') }}/{{ album_1 }}/{{ album_2 }}">
          </a>

			{% endfor %}
		{% endfor %}
	</div>
    
{% endblock %}