{% extends 'base.html.twig' %}

{% block title %}Home - {{ child }}{% endblock %}

{% block nav_2 %} - ({{ child }}){% endblock %}

{% block images %}

	<div class="container">
	
		{% for album_1, albums_1 in items %}
			{% for album_2, albums_2 in albums_1 %}

				<div class="card">
					<div class="child" style="--cards:5">

						{# <div id="card-title">{{ album_1 }}</div>
						<p>{{loop.length}} Bilder</p>  #}
						
						{# <a href="{{ path ('gallery.album',{id: album_1}) }}"> #}
							<img src="{{ asset('images/gallery') }}/{{ album_1 }}/{{ album_2 }}" alt="{{ album_1 }}">
						{# </a> #}

					</div>
				</div>

			{% endfor %}
		{% endfor %}

	</div>
    
{% endblock %}