{% extends 'base.html.twig' %}

{% block title %}Home - {{ child }}{% endblock %}

{% block nav_2 %} - ({{ child }}){% endblock %}

{% block images %}

  <div class="gallery-container grid 2xl:grid-cols-4 xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-x-6 gap-y-12 w-full mt-6" id="gallery-container">

		{% for album_1, albums_1 in items %}
			{% for album_2, albums_2 in albums_1 %}

					<div class="card w-96 bg-base-100 shadow-xl">
						<figure class="px-10 pt-10 pb-10">
							<img src="{{ asset('images/gallery') }}/{{ album_1 }}/{{ album_2 }}" alt="{{ album_1 }}" alt="{{ album_1 }}" "height: 200px" class="rounded-2xl" />
						</figure>
					</div>

			{% endfor %}
		{% endfor %}

	</div>
    
{% endblock %}