{% extends 'base.html.twig' %}

{% block title %}Home -
	{{ album }}
{% endblock %}

{% block album %}

	<div class="my_album">
		{% for album_1, albums_1 in items %}
			{% for album_2, albums_2 in albums_1 %}
				<div class="my_album_child card bg-base-50 shadow-xl">
					<figure class="px-2 pt-2">
						<img class="rounded-xl" src="{{ asset('images/gallery') }}/{{ album_1 }}/{{ album_2 }}"/>
					</figure>
					<div class="p-6">
						<div class="flex flex-row">
							<div class="basis-1/2 gallery text-left">
								<a href="{{ asset('images/gallery') }}/{{ album_1 }}/{{ album_2 }}" alt="{{ album_1 }}">
									<i class="fa-solid fa-magnifying-glass fa-2xl"></i>
								</a>
							</div>
							<div class="basis-1/2 text-right">
								<a href="{{ path ('album.details',{album_id: album_1, image_id: album_2}) }}">
									<i class="fa-solid fa-circle-info fa-2xl"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endfor %}
	</div>
{% endblock %}
