<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <title>{% block title %}{% endblock %}</title>

    <!-- ANCHOR CSS  -->
    {% block stylesheets %}
      {# <link href="{{ asset('app/css/bootstrap.css') }}" rel="stylesheet" type="text/css"> #}
      <link href="{{ asset('app/css/aos.css') }}" rel="stylesheet" type="text/css">
      <link href="{{ asset('app/css/lightbox.css') }}" rel="stylesheet" type="text/css">
      <link href="{{ asset('app/css/materialize.css') }}" rel="stylesheet" type="text/css">
      <link href="{{ asset('app/css/style.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}

  </head>

  <!-- ANCHOR Body  -->
  <body>
    <section class="section-lg">
        <div class="container">
          <div class="row text-center text-lg-left">
            <div class="row">
              <div class="col-lg-12">
                <h2>{% block capture %}Gallerie{% endblock %}</h2>
              </div>
            </div>

            {% block body %}

            <div class="col-12 col-lg-12">

              {% block album %}{% endblock %}
              {% block images %}{% endblock %}

            </div>

            {% endblock %}

          </div>
        </div>
    </section>
  
  <!-- ANCHOR Slider  -->    
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="/images/gallery/Solothurn/20180713-060-00036.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="/images/gallery/Solothurn/20180713-060-00039.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="/images/gallery/Solothurn/20180713-060-00053.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="/images/gallery/Solothurn/20180713-060-00055.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>

  {% block javascripts %}
    <!-- ANCHOR Script  -->
    <script src="{{ asset('app/js/aos/aos.js') }}"></script>
    <script src="{{ asset('app/js/lightbox/lightbox-plus-jquery.js') }}"></script>
    <script src="{{ asset('app/js/materialize/materialize.js') }}"></script>

 		<script>
      AOS.init();

        $(document).ready(function(){
    $('.slider').slider();
  });
		</script>

  {% endblock %}

  </body>
</html>